<h4><a href='/logout'>Logout</a></h4>
<h1>Hello, {{user.name}}!</h1>
<table>
	<h3>Your Wish List:</h3>
	<tr>
		<th>Item</th>
		<th>Added By</th>
		<th>Date Added</th>
		<th>Action</th>
	</tr>
	{% for wish in my_wishes %}
	<tr>
		<td><a href='/{{wish.id}}'>{{wish.name}}</a></td>
		<td>{{wish.wisher.name}}</td>
		<td>{{wish.date_added}}</td>
		<td>
			<a href='/remove/{{wish.id}}'>Remove from my Wishlist</a>
			{% if wish.wisher_id == user.id %}
			<a href='/delete/{{wish.id}}'>Delete</a>
			{% endif %}
		</td>
	</tr>
	{% endfor %}
</table>

<table>
	<h3>Other Users' Wish List</h3>
	<tr>
		<th>Item</th>
		<th>Added By</th>
		<th>Date Added</th>
		<th>Action</th>
	</tr>
	{% for wish in wishes %}
	<tr>
		<td><a href='/{{wish.id}}'>{{wish.name}}</a></td>
		<td>{{wish.wisher.name}}</td>
		<td>{{wish.date_added}}</td>
		<td>
			<a href='/add/{{wish.id}}'>Add to my Wishlist</a>
		</td>
	</tr>
	{% endfor %}
</table>
<a href='/add'>Add Item</a>
